# (NEW) - Absenteeism Logistic Regression Model

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_preprocessed = pd.read_csv('df_preprocessed.csv')

In [3]:
data_preprocessed.head()

,Unnamed: 0,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [4]:
# We predict that half of those won't have relevance.

# Preprocessing

### Creating targets for logistic regression

This is a type of classifiation, so need to create classes. 

1. Excessively absent 
2. Not 

Will take the median value of the absenteeism time in hours and use it as a cut off line

In [5]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [6]:
# Therefore >= 4 hours will be counted as excessively absent 
# Will then change column into zero's and one's. ML will target whether it is a zero or one.

In [7]:
# np.where(condition, if True, if False )

In [8]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours']>data_preprocessed['Absenteeism Time in Hours'].median(), 1,0)

In [9]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [10]:
data_preprocessed['Excessive Absenteeism']=targets

In [11]:
data_preprocessed.head()

,Unnamed: 0,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [12]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [13]:
# this is roughly 50% which is efficient for logistic regression.

In [14]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours'],axis=1)

In [15]:
data_with_targets.head()

,Unnamed: 0,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

### Selecting inputs for logistic regression

In [16]:
# will use iloc, has [row indicies,column indicies]

In [17]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

In [18]:
unscaled_inputs.columns

Index(['Unnamed: 0', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Month Value', 'Day of the Week', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets'],
      dtype='object')

### Standardise the data

In [19]:
from sklearn.preprocessing import StandardScaler
absenteeism_scaler = StandardScaler()

In [20]:
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [21]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [22]:
scaled_inputs.shape

(700, 15)

### Train Test Split

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(scaled_inputs, targets, test_size=0.3, random_state = 20)

In [25]:
print(X_train.shape, y_train.shape)

(490, 15) (490,)

In [26]:
print(X_test.shape, y_train.shape)

(210, 15) (490,)

In [27]:
# machine learning is 90% pre processing and 10% modelling

# Machine Learning

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [29]:
reg = LogisticRegression()

In [30]:
reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
reg.score(X_train,y_train)
# Model classified about 80% correctly

0.7755102040816326

In [32]:
# Manually finding accuracy

In [33]:
model_outputs = reg.predict(X_train)

In [34]:
sum(model_outputs == y_train)

380

In [35]:
model_outputs.shape[0]

490

In [36]:
sum(model_outputs == y_train)/model_outputs.shape[0]

0.7755102040816326

## Exploring coefficients

In [37]:
reg.intercept_

array([-0.2214057])

In [38]:
reg.coef_

array([[-0.27902787,  2.07253207,  0.35070369,  1.51367043,  1.25478722,
         0.16971306, -0.19082568,  0.68493201, -0.02213296, -0.15886481,
        -0.12352299,  0.33326547, -0.17991919,  0.31696706, -0.34580938]])

In [39]:
# what variabe?

In [40]:
feature_names = unscaled_inputs.columns.values

In [41]:
summary_table = pd.DataFrame(feature_names,columns=['feature name'])

In [42]:
summary_table

               feature name
0                Unnamed: 0
1                  Reason_1
2                  Reason_2
3                  Reason_3
4                  Reason_4
5               Month Value
6           Day of the Week
7    Transportation Expense
8          Distance to Work
9                       Age
10  Daily Work Load Average
11          Body Mass Index
12                Education
13                 Children
14                     Pets

In [43]:
reg.coef_.shape

(1, 15)

In [44]:
 summary_table['coef']=np.transpose(reg.coef_)

In [45]:
summary_table

               feature name      coef
0                Unnamed: 0 -0.279028
1                  Reason_1  2.072532
2                  Reason_2  0.350704
3                  Reason_3  1.513670
4                  Reason_4  1.254787
5               Month Value  0.169713
6           Day of the Week -0.190826
7    Transportation Expense  0.684932
8          Distance to Work -0.022133
9                       Age -0.158865
10  Daily Work Load Average -0.123523
11          Body Mass Index  0.333265
12                Education -0.179919
13                 Children  0.316967
14                     Pets -0.345809

In [46]:
summary_table.index = summary_table.index +1

In [47]:
summary_table

               feature name      coef
1                Unnamed: 0 -0.279028
2                  Reason_1  2.072532
3                  Reason_2  0.350704
4                  Reason_3  1.513670
5                  Reason_4  1.254787
6               Month Value  0.169713
7           Day of the Week -0.190826
8    Transportation Expense  0.684932
9          Distance to Work -0.022133
10                      Age -0.158865
11  Daily Work Load Average -0.123523
12          Body Mass Index  0.333265
13                Education -0.179919
14                 Children  0.316967
15                     Pets -0.345809

In [48]:
summary_table.loc[0]=['Intercept',reg.intercept_[0]]
summary_table = summary_table.sort_index()

In [49]:
summary_table

               feature name      coef
0                 Intercept -0.221406
1                Unnamed: 0 -0.279028
2                  Reason_1  2.072532
3                  Reason_2  0.350704
4                  Reason_3  1.513670
5                  Reason_4  1.254787
6               Month Value  0.169713
7           Day of the Week -0.190826
8    Transportation Expense  0.684932
9          Distance to Work -0.022133
10                      Age -0.158865
11  Daily Work Load Average -0.123523
12          Body Mass Index  0.333265
13                Education -0.179919
14                 Children  0.316967
15                     Pets -0.345809

In [50]:
# in logistic regression, coefficients are in logs so we get exponentials 
summary_table['odds ratio'] = np.exp(summary_table.coef)

In [51]:
summary_table.sort_values('odds ratio',ascending=False)

               feature name      coef  odds ratio
2                  Reason_1  2.072532    7.944915
4                  Reason_3  1.513670    4.543376
5                  Reason_4  1.254787    3.507092
8    Transportation Expense  0.684932    1.983637
3                  Reason_2  0.350704    1.420066
12          Body Mass Index  0.333265    1.395518
14                 Children  0.316967    1.372957
6               Month Value  0.169713    1.184965
9          Distance to Work -0.022133    0.978110
11  Daily Work Load Average -0.123523    0.883801
10                      Age -0.158865    0.853112
13                Education -0.179919    0.835338
7           Day of the Week -0.190826    0.826277
0                 Intercept -0.221406    0.801391
1                Unnamed: 0 -0.279028    0.756519
15                     Pets -0.345809    0.707647

In [52]:
# not important if coefficient around 0 or odds ratio around 1. 
# weoght is multiplier for how important 
# odds is the odds increase by a multiple equal to the odds ratio.

In [53]:
# daily work load average isnt useful, distance to work, 
# day of the week, age 

# for one standardised unit, or one standard deviaiton increase.

### Interpreting the coeficients 

- reason 1: Various diseases 
- reason 2: Pregnancy and giving birth 
- reason 3: poisoning and perculiour reasons
- reason 4: light diseases

### backward elemination (simplifying the model)

We can simplify the model by removing all features which have close to no contribution to the model. Get rid of all coefficients with greater then 0.05 p-value. But no p values in sklearn. If we remove these variables then it shouldnt really matter because of weights.

### Testing the model we created

In [55]:
# So far we have only seen the train data.

In [54]:
reg.score(X_test,y_test)
# In 73% it will predict if someone will be absent

0.7285714285714285

In [55]:
from sklearn.metrics import classification_report

In [56]:
predictions = reg.predict(X_test)

In [58]:
print(classification_report(y_test,predictions))
# classification report gives a more in depth representation of this

              precision    recall  f1-score   support

           0       0.73      0.79      0.76       113
           1       0.73      0.66      0.69        97

    accuracy                           0.73       210
   macro avg       0.73      0.72      0.72       210
weighted avg       0.73      0.73      0.73       210

### Saving the model and preparing for deployment

In [58]:
# using pickle to convert a python object into a character stream

In [59]:
import pickle

In [60]:
# Saving the model 
# 'file name','write bites'
# dump is save 
with open('model','wb') as file:
    pickle.dump(reg, file)

In [61]:
# saving the scaler
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)

In [62]:
# Deploymeny - creating a mechanism to load and save the model
# creating a module

In [63]:
# after module is created, you then download it as a python (.py) format and this is the module.